
#logo img{	
	width=200px;
	height=auto;
}
#website-name h1{
	font-size:24px;
	margin-top:10px;
	
	
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
	  background-color: #f5f5dc;
	  
}

header {
	font-family:Garamond;
    color: black;
    text-align: left;
    padding: 20px;
}

header img {
    border-radius: 50%;

}

header h5 {
	font-size:100%;
	font-family:Lucida Handwriting;
     position: absolute;
    top: 10px; 
    right: 10px; 
}

nav a {
    text-decoration: none;
    color: #3498db;
    margin: 10px;
    font-weight: bold;
	
	
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
	
}

.course {
	 
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
	  background-color: #FFFFF0;
}

.course img {
    max-width: 100%;
}

.course h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.course p {
    font-size: 1em;
    color: #666;
}


   .scrollable-div {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .feedback{
            width: 250px;
            text-align: center;
            margin: 20px;
        }

        .feedback img {
            max-width: 100%;
            height: auto;
        }

        .feedback p {
            margin: 10px 0;
        }

        .rating img {
            max-width: 200%;
            height: auto;
			width: 90px; 
        }

/* Style the footer */
footer {
       background-color: #f5f5dc;
    color:black;
    text-align: center;
    padding: 10px;
	
}


footer a {
    color:blue;
    text-decoration: none;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    padding: 0;
	  background-color: #f5f5dc;
	  
	
}

.nav-item {
    margin: 10px 0;
	
}
.scrollable-div {
            width: 950px; 
            height: 200px; 
            overflow: scroll; 
            border: 1px solid #ccc; 
			background-color:white;
			
        }
		aside {
    float: right;
	width:25%;
    list-style-position: outside;
    height: auto;
    font-weight: bold;
    line-height: 3em;
	font-size:20px;
	
	     

}
.nav-list{
	list-style-type: circle;
	font-size:80%;
	background:white;
	box-shadow:0px 0px 10px ;
	margin:2rem;
	padding:8rem 0;
	border-radius:var(--radius);
	display:flex;
	justify-content:flex-end;
	align-items:right;
	flex-direction: column;
	margin-left:2rem;
	
	
}
.nav-item1{
	list-style-type: circle;
	list-style-image:url(images/lion2.gif);
	list-style-position:inside;
	margin-left:0.5rem;
	font-size: 90%;
	
	    
}
.nav-item2{
	list-style-type: circle;
	list-style-image:url(images/elephant2.gif);
	list-style-position:inside;
	margin-left:0.5rem;
	font-size: 90%;
	
}
.nav-item3{
	list-style-type: circle;
	list-style-image:url(images/monkey2.gif);
	list-style-position:inside;
	margin-left:0.5rem;
	font-size: 90%;
	
}
.nav-item4{
	list-style-type: circle;
	list-style-image:url(images/giraffe2.gif);
	list-style-position:inside;
	margin-left:0.25rem;
	font-size: 90%;
	
}

.nav-item1, .nav-item2, .nav-item3, .nav-item4 {
    margin-bottom: 25%;
}


.nav{
	  background-color:white;
    font-weight: bold;
    line-height: 2em;
	 margin-top: 20px;

}

.nav a{
	color:black;
	text-decoration: underline;
}
header, aside {
    background-color: #f5f5dc;
}

.container {
    background-color: white;
    padding: 20px;
}

.kids {
    background-color: #f0f0f0; 
    overflow-y: scroll; 
}

.list {
    padding: 0;
    list-style: none;
}

.list li {
    padding: 10px;
    border-bottom: 1px solid #ddd; 
    white-space: nowrap; 
}


h2 {
    margin: 10px;
    text-align: center; 
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 1.5rem;
    border-radius: 7rem;
    cursor: pointer;
    margin: 4rem;
    transition: background-color 0.3s ease; 
}

.button1 {
    background-color:#8A9A5B; 
}

.button2 {
    background-color:#8A9A5B; 
}

.button3 {
    background-color:#8A9A5B; 
}

button:hover {
    background-color: #355E3B; 
}
