header{
    background-color: #D3D3D3D3;
}
.scrollable-div {
            width: 65vw; 
            height: 200px; 
            overflow: scroll; 
            border: 1px solid #ccc; 
        }
		

header {
    width: 100%;
    height: auto;
    border: 1px outset; 
    padding: 0;
    margin: 0;
}
header img {
    float: left;
}
	

aside {
    float: right;
    list-style-position: outside;
    width: 20%;
     height: 60vw; 
    padding: 0%;
    margin: 0%;
    font-weight: bold;
    line-height: 3em;
	font-size:20px;
	
}
footer {
      background-color:  #fffde7;
      color: black;
      padding: 20px;
      text-align: center;
	  font-weight: bold;
    }

    /* Style the contact information */
    .contact-info {
      font-size: 30px;
    }

    .contact-info h3 {
      font-size:25px;
    }

    /* Style links (if you have any) */
    .contact-info a {
      color:black;
      text-decoration: none;
    }
.nav-list{
	list-style-type: circle;
	font-size:80%;
	background:white;
	box-shadow:0px 0px 10px ;
	margin:2rem;
	padding:1rem 0;
	border-radius:var(--radius);
	display:flex;
	justify-content:flex-end;
	align-items:right;
	flex-direction: column;
	margin-left:2rem;
	
}
.nav-item{
	list-style-type: circle;
	margin-left:2rem;
	
}
.nav-item a{
	text-decoration:none;
	color:black;
	
	
}


}
.nav{
    background-color: #F0F0F0;
    font-weight: bold;
    line-height: 1em;
}
header div{
	position:left;
	 text-align: left;
	
}
.course-container {
    display: flex;
    justify-content: center;
	flex-direction: row;
	

}

.course {
    width: 150px;
    height: 100px;
    background-color: #3498db;
    color: black;
    text-align: center;
    line-height: 100px;
    margin: 10px;
	flex-direction: row;
}

