

:root
{

	--primary-color: #f5f5dc;
	--secondary-color:white;
	--course-color:#FFFFF0;
	--font-color:black;
	--secondary-font-color: #666;
	--links-color: #101643;
	--border-color: #EDEBCE
}

.dark-mode
{
	--primary-color: #4C483A;
	--secondary-color: #35342E;
	--course-color:#47453D;
	--font-color:white;
	--secondary-font-color: #666
	--links-color: yellow;
	--border-color: #171615;
}


.Tuters {
  width: 75%;
  height: 200%;
  overflow:auto;
  white-space: nowrap;
  border: 3% solid black;
    margin-left: 1;
    margin-top:20%;
    justify-content: center;
    display:inline-block;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 0%;
    background-position: 100%;
}

.T {
  display: inline-block;
  width: 35%; /* Optional: Set a specific width for the items */
  height: 200%;
  background-color: var(--course-color);
  margin: 1%;
  text-align: center;
  line-height: 350%;

  
}

/* Dropdown Button */
.sortButton {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.sortButton {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.sortButton-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.sortButton-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.sortButton-content a:hover {background-color: #FFFFF0; }

/* Show the dropdown menu on hover */
.sortButton:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.sortButton:hover .dropbtn {background-color: #3e8e41;}

